.idea/
Data Analysis for Hospitals/.idea/
Data Analysis for Hospitals/Data Analysis for Hospitals/Improve your dataset
Data Analysis for Hospitals/Data Analysis for Hospitals/The statistics/
Data Analysis for Hospitals/Data Analysis for Hospitals/Upload the data/
Data Analysis for Hospitals/Data Analysis for Hospitals/Visualize it_/
Data Analysis for Hospitals/Data Analysis for Hospitals/lesson-info.yaml
Data Analysis for Hospitals/Data Analysis for Hospitals/task/__pycache__/
Data Analysis for Hospitals/Data Analysis for Hospitals/task/tests.py
Data Analysis for Hospitals/course-info.yaml
Data Analysis for Hospitals/course-remote-info.yaml
Data Analysis for Hospitals/test/
Knight's Tour Puzzle/And now for something completely different_/
Knight's Tour Puzzle/Give me an answer/
Knight's Tour Puzzle/How far will your knight go/
Knight's Tour Puzzle/Looking ahead/
Knight's Tour Puzzle/Setting up the board/
Knight's Tour Puzzle/Where to next/
Knight's Tour Puzzle/lesson-info.yaml
course-info.yaml
course-remote-info.yaml
venv

/course-info.yaml
/course-remote-info.yaml
